<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page_title}">Add or Update Book</title>

    <th:block th:include="layout/headerinc :: head"></th:block>
    <th:block th:include="layout/headerinc :: navbar-common"></th:block>

</head>
<body>

<div style="width:500px; margin:0 auto;">

   <!--<div th:if="${addNewBook.id} == '0'"> <h1>Add New Book</h1></div>
    <div th:if="${addNewBook.id} != '0'"> <h1>Update Book</h1></div>-->
    <h1 th:text="${page_title}"></h1>

<form class="addBookForm" role="form" action="#" th:action="@{/book/new-book}" th:object="${addNewBook}" method="post">

    <div th:if="${status}=='successful'" th:text="${message}" class="alert alert-success" id="hideThis" >Book Saved </div>
    <div th:if="${status}=='unsuccessful'" th:text="${message}" class="alert alert-danger" id="hideThis">Book not Saved </div>

    <input type="hidden" th:field="*{id}" readonly="readonly" />
    <input type="hidden" th:field="*{publisher}" readonly="readonly" />

    <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
        <label class="required">Name</label>
        <input class="form-control hideOnClick" type="text" th:field="*{name}" placeholder="Enter book's name"/>
        <p th:if="${#fields.hasErrors('name')}" class="label label-danger" th:errors="*{name}">Name Error</p>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('isbn')}? 'has-error'">
        <label>Isbn</label>
        <input class="form-control hideOnClick" type="text" th:field="*{isbn}" placeholder="Enter book's isbn"/>
        <p th:if="${#fields.hasErrors('isbn')}" class="label label-danger" th:errors="*{isbn}">Isbn Error</p>
    </div>

    <div class="form-group">
        <label>Publication Date</label>
        <input id="datepicker" class="form-control hideOnClick" type="date" th:field="*{publicationDate}"/>
    </div>    

    <div class="form-group" th:classappend="${#fields.hasErrors('forma')}? 'has-error'">
        <label>Forma</label>
        <input class="form-control hideOnClick" type="number" th:field="*{forma}" placeholder="Enter book's forma number"/>
        <p th:if="${#fields.hasErrors('forma')}" class="label label-danger" th:errors="*{forma}">Forma Error</p>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('coverPrice')}? 'has-error'">
        <label>Cover Price</label>
        <input class="form-control hideOnClick" type="number" th:field="*{coverPrice}" placeholder="Enter book's coverPrice number"/>
        <p th:if="${#fields.hasErrors('coverPrice')}" class="label label-danger" th:errors="*{coverPrice}">Cover Price Error</p>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('discount')}? 'has-error'">
        <label>Discount</label>
        <input class="form-control hideOnClick" type="number" th:field="*{discount}" placeholder="Enter book's discount number"/>
        <p th:if="${#fields.hasErrors('discount')}" class="label label-danger" th:errors="*{discount}">Discount Error</p>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('totalPages')}? 'has-error'">
        <label>Total Pages</label>
        <input class="form-control hideOnClick" type="number" th:field="*{totalPages}" placeholder="Enter book's totalPages number"/>
        <p th:if="${#fields.hasErrors('totalPages')}" class="label label-danger" th:errors="*{totalPages}">Total Pages Error</p>
    </div>


    <div class="form-group">
        <label class="required">Author</label>
        <select class="form-control ui multiple search selection dropdown" multiple="" id="author-select" th:field="*{authors}">
            <option th:if="${author} == null" disabled="disabled" value="" >Select Author</option>
            <option th:each="author : ${allAuthor}"
                    th:value="${author.id}"
                    th:text="${author.name}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label class="required">Category</label>
        <select class="form-control ui multiple search selection dropdown" multiple="" id="category-select" th:field="*{categories}">
            <option th:if="${category} == null" disabled="disabled" value="" >Select Category</option>
            <option th:each="category : ${allCategory}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>
    </div>

    <a href="/book/all-book?names=" class="btn btn-warning" style="width: 100px; margin-right: 50px; margin-left: 30px">Cancel</a>

    <button type="reset" class="btn btn-danger" style="width: 100px; margin-right: 50px;">Reset</button>

    <button th:if="${addNewBook.id} == '0'" type="submit" class="btn btn-success" style="width: 100px">Add</button>
    <button th:if="${addNewBook.id} != '0'" type="submit" class="btn btn-success" style="width: 100px">Update</button>

</form>
</div>

<script type="text/javascript">

    $.validator.addMethod("customforma", function(value, element, regexpr) {
        return regexpr.test(value);
    }, "ERROR from customforma javascript method.");


            $(document).ready(function() {

        $(".addBookForm").validate(
                {
                    rules: {
                        name:{
                            required: true
                        },
                        authors:{
                            required: true
                        },
                        categories:{
                            required: true
                        },

                        isbn:{
                            /*isbn: true,*/
                            remote : {
                                url: "/book/isIsbnExist",
                                type: "get",
                                data: {
                                    isbn: function() {
                                        return $("#isbn").val();
                                    },
                                    id: function() {
                                        return $("#id").val();
                                    }
                                }
                            }
                        }
                    },
                    messages: {
                        name: {
                            required: "Book must have a name."
                        },
                        isbn: {
                            remote: "Other book has this isbn."
                        },
                        authors:{
                            required: "Book must have a author."
                        },
                        categories:{
                            required: "Book must have a category."
                        }
                    },
                    highlight: function(element) {
                        $(element).closest('.form-group').removeClass('text text-success has-success').addClass('text text-danger has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('text text-danger has-error').addClass('text text-success has-success');
                    },
                }
        );

    });
</script>

<!--<script>
    $(function() {
        $( "#datepicker" ).datepicker({
            dateFormat:'yyyy-MM-dd',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900 : currentYear"
        });
    });
</script>-->

<script>
    $(document).ready(function () {
        $(".hideOnClick").click(function () {
            $("#hideThis").hide();
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('a[href="' + '/book/all-book' + '"]').parent().addClass('active');
    });
</script>

<!--Add Multiple Author-->
<script>
    $('#author-select')
            .dropdown();
</script>

<script>
    $('#category-select')
            .dropdown();
</script>


</body>
</html>