<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page_title}">Add or Update BinderReceive</title>

    <th:block th:include="layout/headerinc :: head"></th:block>
    <th:block th:include="layout/headerinc :: navbar-common"></th:block>

</head>
<body>

<div style="width:500px; margin:0 auto;">

   <!--<div th:if="${addNewBinderReceive.id} == '0'"> <h1>Add New BinderReceive</h1></div>
    <div th:if="${addNewBinderReceive.id} != '0'"> <h1>Update BinderReceive</h1></div>-->
    <h1 th:text="${page_title}"></h1>
    <!--<h3 th:text="${orderPlaceID}"></h3>-->

<form class="addBinderReceiveForm" role="form" action="#" th:action="@{/binderReceive/new-binderReceive}" th:object="${addNewBinderReceive}" method="post">

    <div th:if="${status}=='successful'" th:text="${message}" class="alert alert-success" id="hideThis" >BinderReceive Saved </div>
    <div th:if="${status}=='unsuccessful'" th:text="${message}" class="alert alert-danger" id="hideThis">BinderReceive not Saved </div>

    <input type="hidden" th:field="*{id}" readonly="readonly" />
    <input type="hidden" th:field="*{publisher}" readonly="readonly" />
    <!--<input type="hidden" th:field="*{orderSerial}" readonly="readonly" />-->
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <h3>Binder : </h3>
                </td>
                <td>
                    <h3 th:text="${addNewBinderReceive.binder.name}"></h3>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>Date : </h3>
                </td>
                <td>
                    <h3 th:text="${receiveDate}"></h3>
                </td>
            </tr>
        </table>
    </div>

    <input type="hidden" th:field="*{binder}" readonly="readonly" />
    <input type="hidden" th:field="*{orderReceiveDate}" readonly="readonly" />

    <div class="form-group">

        <table class="table table-striped" id="tableId">
            <thead>
            <tr>
                <!--<th>Order Index</th>-->
                <!--<th>Db ID</th>-->
                <th>Order ID</th>
                <!--<th>Item Index</th>-->
                <!--<th>Item Id</th>-->
                <th>Book</th>
                <th>Price (unit)</th>
                <th>Ordered Quantity</th>
                <th>Remaining Quantity</th>
                <th>Receive Quantity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="binderOrder, iterator : ${addNewBinderReceive.binderOrders}" >

                <input type="hidden" th:field="*{binderOrders[__${iterator.index}__].id}" readonly="readonly" />

                <tr th:each="binderOrderBook, rotator : ${binderOrder.binderOrderBooks}">

                    <input type="hidden" th:field="*{binderOrders[__${iterator.index}__].binderOrderBooks[__${rotator.index}__].id}"/>

                    <td th:if="${rotator.index == 0}" th:text="${binderOrder.orderId}" th:rowspan="${rotator.size}"></td>
                    <td th:text="${binderOrderBook.book.name}"></td>
                    <td th:text="${binderOrderBook.unitPrice}"></td>
                    <td th:text="${binderOrderBook.orderQuantity}"></td>
                    <td th:text="${binderOrderBook.remainingQuantity}"></td>
                    <td>
                        <!--<input class="form-control" type="number"-->
                               <!--th:name="${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderDetails[__${rotator.index}__].deliveredQuantity}"-->
                               <!--th:id="${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderDetails[__${rotator.index}__].deliveredQuantity}"-->
                               <!--th:value = "${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderDetails[__${rotator.index}__].remainingQuantity}"-->
                               <!--th:max="${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderDetails[__${rotator.index}__].remainingQuantity}"-->
                               <!--min="0"-->
                        <!--/>-->
                        <input type="number"
                               th:field="${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderBooks[__${rotator.index}__].receivedQuantity}"
                               th:max="${addNewBinderReceive.binderOrders[__${iterator.index}__].binderOrderBooks[__${rotator.index}__].remainingQuantity}"
                               min="0" />
                    </td>


                        <!--</span>-->
                </tr>
            </th:block>
            </tbody>
        <!--<span th:each="binderOrders, iterator : ${addNewBinderReceive.binderOrders}">
            <input type="hidden" th:field="*{binderOrders[__${iterator.index}__].id}" readonly="readonly" />


            <tbody>
            <tr>
                <td th:text="*{binderOrders[__${iterator.index}__].orderId}"></td>
                <span th:each="binderOrderDetails, rotator : *{binderOrders[__${iterator.index}__].binderOrderDetails}">
            <tr>
                <td>
                <td th:text="${binderOrderDetails.book.name}"></td>
                <td th:text="${binderOrderDetails.unitPrice}"></td>
                <td th:text="${binderOrderDetails.orderQuantity}"></td>
                <td><input class="form-control" type="number" name="binderOrderDetails.deliveredQuantity" placeholder="receive quantity "/></td>
                </td>
            </tr>
            </span>



            </tr>
            </tbody>
            </span>-->

        </table>
        <!--<p th:text="*{binderOrders[__${iterator.index}__].orderId}"> </p>
        <p th:text="*{binderOrders[__${iterator.index}__].id}"> </p>
        <p th:text="*{binderOrders[__${iterator.index}__].orderSerial}"> </p>-->
    </div>

    <!--<div class="form-group" >
        <div th:each="binderOrders, iterator : ${orders}">
            &lt;!&ndash;<input type="hidden" th:field="*{binderOrders[__${iterator.index}__].id}" readonly="readonly" />&ndash;&gt;

            <table><tr><td>Order No: </td><td th:text="${binderOrders[__${iterator.index}__].orderId}"></td>
            </tr>
            </table>
        </div>-->
    <!--<table class="table table-striped" id="tableId">
        <thead>
        <tr>
            <th><input class='check_all' type='checkbox' onclick="select_all()"/></th>
            <th>Sl</th>
            <th>Book</th>
            <th>Price (unit)</th>
            <th>Quantity</th>
            <th>Discount (unit)</th>
            &lt;!&ndash;<th>Update</th>
            <th>Delete</th>&ndash;&gt;
        </tr>
        </thead>

        &lt;!&ndash;New Order&ndash;&gt;
        <tbody th:if="${addNewBinderReceive.id}==0">
            <tr>
                <td><input type='checkbox' class='case'/></td>
                <td>1.</td>
                <td>
                    <select class="form-control ui search selection dropdown" id="book-select" name="binderOrderDetails[0].book">
                        <option th:if="${book} == null" value="" >Select Book</option>
                        <option th:each="book : ${allBook}"
                                th:value="${book.id}"
                                th:text="${book.name}">
                        </option>
                    </select>
                </td>
                <td><input class="form-control hideOnClick" type="number" name="binderOrderDetails[0].unitPrice" placeholder="Unitprice "/></td>
                <td><input class="form-control hideOnClick" type="number" name="binderOrderDetails[0].orderQuantity" placeholder="How many"/></td>
                <td><input class="form-control hideOnClick" type="number" name="binderOrderDetails[0].unitDiscount" placeholder="Discount"/> </td>
            </tr>
        </tbody>

        &lt;!&ndash;Update Order&ndash;&gt;
        <tbody th:if="${addNewBinderReceive.id}>0">
        <tr th:each="binderOrderDetails, iterator : ${addNewBinderOrderItemDetails}">
            <td><input type='checkbox' class='case'/></td>
            <td th:text="${iterator.index+1}">1.</td>
            <td>
                <select class="form-control ui search selection dropdown" id="book-select" th:field="*{binderOrderDetails[__${iterator.index}__].book}">
                    <option th:if="${book} == null" value="" >Select Book</option>
                    <option th:each="book : ${allBook}"
                            th:value="${book.id}"
                            th:text="${book.name}">
                    </option>
                </select>
            </td>
            <td><input class="form-control hideOnClick" type="number" th:field="*{binderOrderDetails[__${iterator.index}__].unitPrice}" placeholder="Unitprice "/></td>
            <td><input class="form-control hideOnClick" type="number" th:field="*{binderOrderDetails[__${iterator.index}__].orderQuantity}" placeholder="How many"/></td>
            <td><input class="form-control hideOnClick" type="number" th:field="*{binderOrderDetails[__${iterator.index}__].unitDiscount}" placeholder="Discount"/> </td>
        </tr>
        </tbody>


    </table>-->

    <!--</div>-->

    <!--<button type="button" class='delete'>- Delete</button>
    <button type="button" class='addmore'>+ Add More</button>

    <div class="form-group" th:classappend="${#fields.hasErrors('discount')}? 'has-error'">
        <label class="required">Discount</label>
        <input class="form-control hideOnClick" type="number" th:field="*{discount}" placeholder="Enter discount"/>
        <p th:if="${#fields.hasErrors('discount')}" class="label label-danger" th:errors="*{discount}">Name Error</p>
    </div>


    <a href="/binderOrder/all-binderOrder?names=" class="btn btn-warning" style="width: 100px; margin-right: 50px; margin-left: 30px">Cancel</a>

    <button type="reset" class="btn btn-danger" style="width: 100px; margin-right: 50px;">Reset</button>
    <button th:if="${addNewBinderReceive.id} == '0'" type="submit" class="btn btn-success" style="width: 100px">Add</button>
    <button th:if="${addNewBinderReceive.id} != '0'" type="submit" class="btn btn-success" style="width: 100px">Update</button>
-->
    <button type="submit" class="btn btn-success" style="width: 100px">Add</button>
</form>
</div>

<script type="text/javascript">

    $.validator.addMethod("customphone", function(value, element, regexpr) {
        return regexpr.test(value);
    }, "ERROR from customphone javascript method.");


            $(document).ready(function() {

        $(".addBinderReceiveForm").validate(
                {
                    rules: {
                        name:{
                            required: true
                        },
                        phone:{
                            required : true,
                            customphone:/^[0-9]*$/,
                            maxlength: 13,
                            remote : {
                                url: "/binderOrder/isPhoneExist",
                                /*url: "/binderOrder/isIdExist",*/
                                type: "get",
                                data: {
                                    phone: function() {
                                        return $("#phone").val();
                                    },
                                    id: function() {
                                        return $("#id").val();
                                    }

                                }
                            }
                        },
                        email:{
                            email: true,
                            remote : {
                                url: "/binderOrder/isEmailExist",
                                type: "get",
                                data: {
                                    email: function() {
                                        return $("#email").val();
                                    },
                                    id: function() {
                                        return $("#id").val();
                                    }
                                }
                            }
                        },
                    },
                    messages: {
                        name: {
                            required: "BinderReceive must have a name."
                        },
                        phone: {
                            required: "Phone number required.",
                            remote: "Other binderOrder is using this phone number.",
                            customphone: "Please insert digits only.",
                            maxlength: "Phone no. can be maximum 13 characters long."
                        },
                        email: {
                            email: "Valid email address required.",
                            remote: "Other binderOrder is using this email."
                        }
                    },
                    highlight: function(element) {
                        $(element).closest('.form-group').removeClass('text text-success has-success').addClass('text text-danger has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('text text-danger has-error').addClass('text text-success has-success');
                    },
                }
        );

    });
</script>

<!--<script>
    $(function() {
        $( "#datepicker" ).datepicker({
            dateFormat:'yyyy-MM-dd',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900 : currentYear"
        });
    });
</script>-->

<script>
    $(document).ready(function () {
        $(".hideOnClick").click(function () {
            $("#hideThis").hide();
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('a[href="' + '/binderReceive/all-binderReceive' + '"]').parent().addClass('active');
    });
</script>


</body>



<!--Different Multiple-->
<script>

    var i= $("#tableId tbody tr").length;


    $(".addmore").on('click',function(){
        var data='<tr th:object="${addNewBinderReceive}"><td><input type="checkbox" class="case"/></td><td>'+(i+1)+'.</td>';
        data += '<td>' +
                    '<select class="form-control ui search selection dropdown" id="book-select-2"  name="binderOrderDetails['+i+'].book">' +
                        '<option th:if="${book} == null" value="" >Select Book</option>' +
                        '<option th:each="book : ${allBook}" th:value="${book.id}" th:text="${book.name}"></option>' +
                    '</select>' +
                '</td>' +
                '<td><input class="form-control hideOnClick" type="number" name="binderOrderDetails['+i+'].unitPrice" placeholder="Unitprice "/></td>' +
                '<td><input class="form-control hideOnClick" type="number" name="binderOrderDetails['+i+'].orderQuantity" placeholder="How many"/></td>' +
                '<td><input class="form-control hideOnClick" type="number" name="binderOrderDetails['+i+'].unitDiscount" placeholder="Discount"/></td>' +
                '</tr>';
        $('table').append(data);
        i++;

    });

    $(".delete").on('click', function() {
        $('.case:checkbox:checked').parents("tr").remove();

        i=$("#tableId tbody tr").length;

    });

</script>

<!--<script>
    $(".delete").on('click', function() {
        $('.case:checkbox:checked').parents("tr").remove();

    });
</script>-->

<script>
    function select_all() {
        $('input[class=case]:checkbox').each(function(){
            if($('input[class=check_all]:checkbox:checked').length == 0){
                $(this).prop("checked", false);
            } else {
                $(this).prop("checked", true);
            }
        });
    }

</script>

<script>
    $('#book-select')
            .dropdown();
</script>
<script>
    $('#book-select-2')
            .dropdown();
</script>

<script>
    $('#binder-select')
            .dropdown();
</script>

</html>