<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page_title}">Add or Update Inventory</title>

    <th:block th:include="layout/headerinc :: head"></th:block>
    <th:block th:include="layout/headerinc :: navbar-common"></th:block>

</head>
<body>

<div style="width:500px; margin:0 auto;">

   <!--<div th:if="${addNewInventory.id} == '0'"> <h1>Add New Inventory</h1></div>
    <div th:if="${addNewInventory.id} != '0'"> <h1>Update Inventory</h1></div>-->
    <h1 th:text="${page_title}"></h1>

<form class="addInventoryForm" role="form" action="#" th:action="@{/inventory/new-inventory}" th:object="${addNewInventory}" method="post">

    <div th:if="${status}=='successful'" th:text="${message}" class="alert alert-success" id="hideThis" >Inventory Saved </div>
    <div th:if="${status}=='unsuccessful'" th:text="${message}" class="alert alert-danger" id="hideThis">Inventory not Saved </div>


    <input type="hidden" th:field="*{id}" readonly="readonly" />
    <input type="hidden" th:field="*{publisher}" readonly="readonly" />

    <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
        <label>Name</label>
        <input class="form-control hideOnClick" type="text" th:field="*{name}" placeholder="Enter inventory's name"/>
        <p th:if="${#fields.hasErrors('name')}" class="label label-danger" th:errors="*{name}">Name Error</p>
    </div>

    <a href="/inventory/all-inventory?names=" class="btn btn-warning" style="width: 100px; margin-right: 50px; margin-left: 30px">Cancel</a>

    <button type="reset" class="btn btn-danger" style="width: 100px; margin-right: 50px;">Reset</button>

    <button th:if="${addNewInventory.id} == '0'" type="submit" class="btn btn-success" style="width: 100px">Add</button>
    <button th:if="${addNewInventory.id} != '0'" type="submit" class="btn btn-success" style="width: 100px">Update</button>

</form>
</div>

<script type="text/javascript">

        $(document).ready(function() {

        $(".addInventoryForm").validate({
            rules: {
                name: {
                    required: true,
                    remote: {
                        url: "/inventory/isInventoryExist",
                        type: "get",
                        data: {
                            name: function () {
                                return $("#name").val();
                            },
                            id: function () {
                                return $("#id").val();
                            }
                        }
                    }
                }
            },
            messages: {
                name: {
                    required: "Inventory must have a name.",
                    remote: "Inventory already exists."
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('text text-success has-success').addClass('text text-danger has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('text text-danger has-error').addClass('text text-success has-success');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".hideOnClick").click(function () {
            $("#hideThis").hide();
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('a[href="' + '/inventory/all-inventory' + '"]').parent().addClass('active');
    });
</script>
</body>
</html>